<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{blocks/metaHead :: metaHead}">
<body>
<div class="container py-3">
    <header th:insert="~{blocks/header :: header}"></header>

    <main>
        <div class="container mt-5 mb-5">
            <h1 th:text="${h1}" style="text-align: center" />
            <div th:each="el : ${link}">
                <form method="post">
                    <input th:required="required" type="url" th:value="${el.fullUrl}" name="fullUrl" placeholder="Введите название статьи" class="form-control"><br>
                    <input th:required="required" type="number" th:value="${el.count}" name="count" placeholder="Лимит переходов по ссылке" class="form-control"><br>
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-success">Обновить</button>
                    </div>
                </form>
            </div>
        </div>

    </main>

    <footer th:insert="~{blocks/footer :: footer}" class="pt-4 my-md-5 pt-md-5 mt-auto"></footer>

</div>

<style>
    footer {
        position: absolute;
        bottom: 0;
    }
</style>


</body>
</html>