<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{blocks/metaHead :: metaHead}">
<body>

<div class="container py-3">
    <header th:insert="~{blocks/header :: header}"></header>

    <main>
        <div class="table-responsive">
            <h1 style="text-align: center;">Авторизация</h1>

            <form action="/login" method="post">
                <input th:required="required" type="text" name="UUID" placeholder="Введите ваш UUID" class="form-control"><br>
                <div style="text-align: center;">
                    <button type="submit" class="btn btn-success">Войти</button>
                </div>
            </form>

            <footer th:insert="~{blocks/footer :: footer}" class="pt-4 my-md-5 pt-md-5 mt-auto"></footer>
        </div>
    </main>

</div>

<style>
    footer {
        position: absolute;
        bottom: 0;
    }
</style>


</body>
</html>