<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{blocks/metaHead :: metaHead}">
<body>
<div class="container py-3">
    <header th:insert="~{blocks/header :: header}"></header>

    <main>
        <div class="table-responsive">
            <h2 style="text-align: center">Вы успешно вышли</h2>
        </div>
    </main>

    <footer th:insert="~{blocks/footer :: footer}" class="pt-4 my-md-5 pt-md-5 mt-auto"></footer>
</div>

<style>
    footer {
        position: absolute;
        bottom: 0;
    }
</style>


</body>
</html>